@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  background-image: url('map_720.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.overlay {
  background-color: rgba(
    107,
    142,
    35,
    0.7
  ); /* Olive drab color with 70% opacity */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.reminder {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 20px;
  background-color: rgba(
    255,
    255,
    255,
    0.7
  ); /* Semi-transparent white background */
  padding: 10px;
  border-radius: 5px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.turn-phase-container {
  text-align: center;
  background-color: rgba(
    255,
    255,
    255,
    0.7
  ); /* Semi-transparent white background */
  padding: 10px;
  border-radius: 5px;
}

.turn-display {
  font-size: 48px;
}

.phase-display {
  font-size: 30px;
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-display {
  font-size: 36px;
  background-color: rgba(
    255,
    255,
    255,
    0.7
  ); /* Semi-transparent white background */
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

#startTimerButton {
  font-size: 18px;
  padding: 10px 20px;
}

#nextPhaseButton {
  font-size: 24px;
  padding: 15px 30px;
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  justify-items: center;
}

.grid-container > div {
  border: 2px solid #000;
  width: 240px; /* Ensure the box is square by defining both width and height */
  height: 240px; /* Ensure the box is square by defining both width and height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container > div > div {
  font-size: 48px; /* Enlarged text for the country names */
  margin-bottom: 10px;
}

.cp-input input {
  width: 100px; /* Enlarged CP displays */
  height: 100px; /* Enlarged CP displays */
  font-size: 60px; /* Enlarged text for the CP displays */
}

.england {
  background-color: #ff9999;
} /* Light Red */
.france {
  background-color: #9999ff;
} /* Light Blue */
.germany {
  background-color: #cccccc;
} /* Light Gray */
.italy {
  background-color: #99ff99;
} /* Light Green */
.austria {
  background-color: #ffff99;
} /* Light Yellow */
.russia {
  background-color: #ffcc99;
} /* Light Orange */
.turkey {
  background-color: #ff99ff;
} /* Light Pink */

#resetButton {
  font-size: 18px;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
